# Discord access
discord_token = '<token>'

# discord bheem chanels for lister
bheem_channels = {'trades': '<id>>',
                  'alerts': '<id>>',
                  'active': '<id>', }

# discord rekt channels for relay
rekt_channels = {'trades': '<id>', }

# stored reading messages
files_list = {'bheem_trades': 'files/bheem_trades.json',
              'bheem_alerts': 'files/bheem_alerts.json',
              'tg_bot_message': 'files/tg_bot_last_update.txt',
              'rekt_trades': 'files/rekt_trades.json',
              'lost_sl_trades': 'files/lost_sl_trades.json',
              }

# tg bot key
tg_api_key = '<apikey>'
# users for work
users = {
    'admin': {
        'name': '<name>',
        'is_admin': True,
        'tg_chat_id': <id>,
        'autotrade_enabled': True,
        'bybit_api_key': '<apikey>',
        'bybit_api_secret': '<secret>',
        'trade_risk_in_proc': 0.05,
    },
}

tg_bot_cmd_list = ["/my_active", "/ahmed_active", "/saved_orders", ]
